.body{
    font-family: 'Roboto';
    background-color: #f0f0f0;
    margin: 20px;
}

.header{
    background-color: #e9f192;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    float: left;
    width: 100px;
}

.greeting{
    float: right;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.column{
    background-color: #ffffff;
    flex: 1;
    min-width: 250px;
    padding: 20px;
    border: 2px solid #000000;
}

.img-box{
    position: relative;
    height: 170px;
}
.img-back{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 10px;
    left: 50px;
    border: 2px solid #000000;
    z-index: 1;
    object-fit: cover;
}

.img-front{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 35px;
    left: 10px;
    border: 2px solid #000000;
    z-index: 2;
    object-fit: cover;
}

.nota{
    color: blue;
    text-decoration: underline;
}

.nota:hover{
    text-decoration: overline;
}